# Python specific
*.pyc

# Test files
*cache*
*coverage*

# Building files
build/
dist*
pysports_stats.egg-info*

# VirtualEnv
bin/*
include/*
lib/*
man/*
pip-selfcheck.json
env/*
.ipynb_checkpoints/*
*.ipynb

# Editor
.vscode/
